@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
    max-width: 100%;
    height: auto;
}

.btn-short {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    margin: 10px
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.view-cart-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font weight */
    margin-right: 10px; /* Right margin */
    margin: 20px;
   
}

.div-button {
    display: flex;
    justify-content: flex-end;
}

.div-button2 {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    margin: 0; /* Remove default margin */
    font-size: 2rem; /* Adjust font size as needed */
}
